* {
   margin: 0;
   padding: 0;
 }

 body {
   height: 200vh;
 }

 .wrapper {
   margin: 50px;
 }

 .box {
   width: 100px;
   height: 100px;
 }

 .box:nth-child(1) {
   background-color: blue;
   position: relative;
    left: -100px;
 }

 .box:nth-child(2) {
   background-color: lightcoral;
   position: relative;
    left: 100px;
    bottom: 30px;
 }

 .box:nth-child(3) {
   background-color: rgb(10, 53, 53);
   position: fixed;
bottom: 0;
right: 0;
 }
 /* Static - this is the default value, all elements are in order as they appear in the document.
Relative - the element is positioned relative to its normal position.
Absolute - the element is positioned absolutely to its first positioned parent.
Fixed - the element is positioned related to the browser window.
Sticky - the element is positioned based on the user's scroll position. */